* {
  margin:0; padding:0;
  font-size:inherit;
  color:inherit;
  -webkit-font-smoothing: antialiased;
}
button::-moz-focus-inner {padding:0;border:0;}
a {outline:none;
  text-decoration:none;
  background-color:transparent;
  font-size:11px;
  color:#2d2a2b ;
}
img {border:none;}
html {height: 100%;}



body {
height: auto !important;
min-height: 100%;
position: relative;
background: #ffffff ;
font-size:13px;
color:#575757 ;
    background-color: #ebebeb;
}


.clearfix {
    clear: both;
}

section {
    width: 50%;
    background-color: #fff;
    margin-left: 140px;
}

section .text-block {
    text-align: left;
    padding: 427px 86px 0 66px;
    font-weight: 500;
    line-height: 30px;
}
.text-block h3, p {
    font-size: 24px;
    color: #464646;
}
p.text {
    padding-top: 60px;
}


.table {
    margin: 367px 30px 0 30px;
    padding-bottom: 50px;
}
.fz {
    font-size: 20px;
}
span {
    font-size: 20px;
    color: #fff;
    display: block;
}
p.cbs, .nbs {
    text-transform: uppercase;
}

.technology span  {
    background-color: #1f2c39;
    padding: 12px 45px 14px 44px;
    border-bottom-left-radius: 25px;
    border-top-left-radius: 25px;
}
.technology {
    padding-top: 10px;
    width: 24.5%;
    float: left;
}
.light-black {
    border-width: 0 3px 0 0;
    border-style: solid;
    border-color: #1f2c39;
}
.technology p {
    color: #1f2c39;
    font-weight: 400;
    padding-left: 20px;
    margin-top: 22px;
}

.entertainment span {
    background-color: #03246c;
    padding: 12px 34px 14px 20px;
}
.entertainment {
    padding-top: 10px;
    width: 24.5%;
    float: left;

}
.blue {
    border-width: 0 3px 0 0;
    border-style: solid;
    border-color: #03246c;
}
.entertainment p {
    color: #03246c;
    font-weight: 400;
    padding-left: 20px;
    margin-top: 22px;
}


.products span {
    background-color: #028090;
    padding: 12px 57px 14px 47px;
}
.products {
    padding-top: 10px;
    width: 24.5%;
    float: left;
}
.dark-blue {
    border-width: 0 3px 0 0;
    border-style: solid;
    border-color: #028090;
}
.products p {
    color: #028090;
    font-weight: 400;
    padding-left: 20px;
    margin-top: 22px;
}


.direct span {
    background-color: #28aeaf;
    padding: 12px 0 14px 3px;
    text-align: center;
}
.direct {
    padding-top: 10px;
    width: 24.5%;
    float: left;
}
.light-blue {
    border-width: 0 3px 0 0;
    border-style: solid;
    border-color: #28aeaf;
}
.direct p {
    color: #28aeaf;
    font-weight: 400;
    padding-left: 20px;
    margin-top: 22px;
}
