* {
  margin:0; padding:0;
  font-size:inherit;
  color:inherit;
  -webkit-font-smoothing: antialiased;
}
button::-moz-focus-inner {padding:0;border:0;}
a {outline:none;
  text-decoration:none;
  background-color:transparent;
  font-size:11px;
  color:#2d2a2b ;
}
img {border:none;}
html {height: 100%;}



body {
height: auto !important;
min-height: 100%;
position: relative;
background: #ffffff ;
font-size:13px;
color:#575757 ;
    background-color: #ebebeb;
}

/*.clearfix {
    clear: both;
}*/

section {
    width: 50%;
    background-color: #fff;
    margin-left: 140px;
}

section .text-block {
    text-align: left;
    padding: 427px 86px 0 66px;
    font-weight: 500;
    line-height: 30px;
}
.text-block h3, p {
    font-size: 24px;
    color: #464646;
}
p.text {
    padding-top: 60px;
}
.table {
    margin: 367px 30px 0 30px;
    padding-bottom: 50px;
}

span {
    font-size: 20px;
    font-weight: 400;
    display: block;
}
.technology {
    color: #fff;
    width: 24.5%;
    padding-top: 10px;
    display: inline-block;
    float: left;
}
span.col-one, .col-two, .col-three, .col-four {
    font-weight: 400;
    padding-left: 20px;
    margin-top: 25px;
}

/*COL-1*/
span.tech {
    padding: 12px 45px 14px 44px;
    background-color: #1f2c39;
    border-bottom-left-radius: 25px;
    border-top-left-radius: 25px;
}
span.col-one{
    color: #1f2c39;
}
.light-black {
    border-width: 0 3px 0 0;
    border-style: solid;
    border-color: #1f2c39;
    padding-top: 10px;
}
/*COL-2*/
span.enter {
    background-color: #03246c;
    padding: 12px 34px 14px 20px;
}
span.col-two {
    color: #03246c;
}
span.uppercase {
    text-transform: uppercase;
}
.blue {
    border-width: 0 3px 0 0;
    border-style: solid;
    border-color: #03246c;
}
/*COL-3*/
span.products {
    background-color: #028090;
    padding: 12px 57px 14px 47px;
}
span.col-three {
    color: #028090;
}
.dark-blue {
    border-width: 0 3px 0 0;
    border-style: solid;
    border-color: #028090;
}

/*COL-4*/
span.direct {
    background-color: #28aeaf;
    padding: 12px 0 14px 3px;
    text-align: center;
}
span.col-four {
    color: #28aeaf;
}
.light-blue {
    border-width: 0 3px 0 0;
    border-style: solid;
    border-color: #28aeaf;
}
